### Python Data Types 
Every value in Python has a datatype. Since everything is an object in Python programming, data types are actually classes and variables are instance (object) of these classes.

### 1. Numbers
* Integers, floating point numbers and complex numbers falls under Python numbers category. They are defined as int, float and complex class in Python.

* We can use the type() function to know which class a variable or a value belongs to and the isinstance() function to check if an object belongs to a particular class.

In [1]:
a = 5                               #data type is implicitly set to integer
print(a, " is of type", type(a))

5  is of type <class 'int'>

In [2]:
a = 2.5                            #data type is changed to float
print(a, " is of type", type(a))

2.5  is of type <class 'float'>

In [3]:
a = 1 + 2j                          #data type is changed to complex number
print(a, " is complex number?") 
print(isinstance(1+2j, complex))

(1+2j)  is complex number?
True

### 2. Boolean
 * Boolean represents the truth values False and True

In [4]:
a = True                          #a is a boolean type
print(type(a))

<class 'bool'>

### 3.Python Strings
* String is sequence of Unicode characters. 

* We can use single quotes or double quotes to represent strings. 

* Multi-line strings can be denoted using triple quotes, ''' or """.


* A string in Python consists of a series or sequence of characters - letters, numbers, and special characters. 

* Strings can be indexed - often synonymously called subscripted as well. 

* Similar to C, the first character of a string has the index 0.

In [5]:
s = "My name is Akarsh Bharadwaj"
print(s)

My name is Akarsh Bharadwaj

In [6]:
print(s[0])
#last char s[len(s)-1] or s[-1]

M

In [8]:
#slicing
s[11:]

'Akarsh Bharadwaj'

### 4.Python List
* List is an ordered sequence of items. It is one of the most used datatype in Python and is very flexible. 
* All the items in a list do not need to be of the same type.

* Declaring a list is , Items separated by commas are enclosed within brackets [ ].

* Lists are mutable, meaning, value of elements of a list can be altered.

In [9]:
a = [10, 20.5, "Hello"]
print(a[1])               #print 1st index element

20.5

In [10]:
a[1] = 30.7
print(a)

[10, 30.7, 'Hello']

### 5.Python Tuple
* Tuple is an ordered sequence of items same as list.The only difference is that tuples are immutable. Tuples once created cannot be modified.

In [12]:
t = (1, 1.5, "ML")

In [13]:
print(t[1]) #extract particular element

1.5

In [14]:
# We cannot alter the values of a tuple
t[1] = 1.25

TypeError: 'tuple' object does not support item assignment

### 6.Python Set
* Set is an unordered collection of unique items. Set is defined by values separated by comma inside braces { }. Items in a set are not ordered.

In [15]:
a = {10, 30, 20, 40, 5}
print(a)

{5, 40, 10, 20, 30}

In [16]:
print(type(a))             #print type of a

<class 'set'>

We can perform set operations like union, intersection on two sets. Set have unique values.

In [17]:
s = {10, 20, 20, 30, 30, 30}
print(s)                    #automatically set won't consider duplicate elements

{10, 20, 30}

In [18]:
print(s[1]) #we can't print particular element in set because 
            #it's unorder collections of items

TypeError: 'set' object is not subscriptable

### 7.Python Dictionary
* Dictionary is an unordered collection of key-value pairs.
* In Python, dictionaries are defined within braces {} with each item being a pair in the form key:value. Key and value can be of any type.

In [20]:
d = {'a': "apple", 'b': "bat"}
print(d['a'])

apple

### 8. Conversion between Datatypes
We can convert between different data types by using different type conversion functions like int(), float(), str() etc.

In [21]:
float(5)     #convert interger to float using float() method

5.0

In [22]:
int(100.5)   #convert float to integer using int() method

100

In [23]:
str(20)      #convert integer to string

'20'

Conversion to and from string must contain compatible values.

In [24]:
int('10p')

ValueError: invalid literal for int() with base 10: '10p'

In [25]:
user = "Akarsh"
lines = 100

print("Congratulations, " + user + "! You just wrote " + str(lines) + " lines of code" )
#remove str and gives error

Congratulations, Akarsh! You just wrote 100 lines of code

We can convert one sequence to other

In [26]:
a = [1, 2, 3]

print(type(a))      #type of a is list 

s = set(a)          #convert list to set using set() method

print(type(s))      #now type of s is set

<class 'list'>
<class 'set'>

In [27]:
list("Hello")

['H', 'e', 'l', 'l', 'o']